@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* CSS Reset */
*,
::before,
::after {
    box-sizing: border-box; /*avoids overflow from padding and margins*/
    margin: 0;
    padding: 0;
}

:root {
    --bckgrnd-color: #F8E7F6;
    --fnt-fam: Poppins;
    --ltr-spacing: 1px;
    --fnt-color: hsl(0, 0%, 55%);
    --lbl-fnt-size: 12px;
    --lbl-line-height: 1.6;
    --border-clr: rgb(228, 228, 228);
    --margin-lft: 40px;
    --hover-clr: rgb(80, 2, 148);
    --button-clr: rgb(139, 6, 255);
}

html {
    background-color: var(--bckgrnd-color);
    font-family: var(--fnt-fam);
    font-weight: bold;
    letter-spacing: var(--ltr-spacing);
    color: var(--fnt-color);
    font-size: var(--lbl-fnt-size);
    line-height: var(--lbl-line-height);
}

.uppercase {
    text-transform: uppercase; /* makes all caps*/
}

/* to center child, make parent container display flex, justify-content center, align-items center */
body {
    display: flex;
    flex-direction: column; /* children containers will appear in a column*/
    justify-content: center; /*align horozontally*/
    align-items: center; /*align vertically*/
    min-height: 100vh; /*element will take up full screen*/
    gap: 100px;
}

#calculator-container {
    background-color: #fff;
    width: 625px;
    height: 475px;
    border-radius: 10px;
    border-bottom-right-radius: 150px;
}

.form-row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label, .form-group input, .form-group span{
    display: block;
    margin-left: var(--margin-lft);
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: inherit;
    margin-right: 5px;
}

.form-group input {
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: none;
    outline: none;
    width: 115px;
    height: 45px;
    padding-left: 10px;
    font-size: 20px;
    line-height: var(--lbl-line-height);
}

.form-group input:hover, 
.form-group input:focus {
    border-color: var(--hover-clr);
    cursor: pointer;
}

.underline-and-button-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.underline {
    height: 1.5px;
    background-color: var(--border-clr);
    width: 75%;
    /* margin-top: 2px; */
    /* margin-left: var(--margin-lft); */
}

button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--button-clr);
    border: none;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #000;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 5rem;
    color: black;
    font-weight:  800;
    font-style: italic;
    margin-left: var(--margin-lft);
}

.error-message {
    color: red;
    font-size: 0.7rem;
    margin-top: 4px;
    font-style: italic;
    display: none;
}

input.error {
    border: 1px solid red;
}

label.error{
    color: red;
}

span {
    color: var(--button-clr);
}

